@model Basketball7.Models.CompareViewModel

@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-top:75px;">Comparison</h2>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Select Position
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @foreach (var player in model.Players)
        {

        }
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>
</div>


<script>
    


</script>

